{% extends "socialaccount/base.html" %}
{% block head_title %}Confirm login with {{brand.name}}{% endblock %}
{% load i18n %}

{% block content %}
<div class="h-screen border flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full shadow-2xl  rounded bg-white space-y-8">
      <div class="mx-4 my-4">
        <div>
            <div class="justify-center ">
                <a class="inline" href="{% url 'account_login' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
                      </svg>
                </a>
                {% if process == "connect" %}
                <h1 class="text-center text-lg font-bold mb-2">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
                <hr class="mb-4">
                <p class="py-2 px-2 text-justify bg-yellow-100 rounded-md ">
                    {% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}
                </p> 
                {% else %}
                <h1 class="text-center text-lg font-bold mb-2">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
                <hr class="mb-4">
                <p class="py-2 px-2 text-justify bg-yellow-100 rounded-md ">
                    {% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}
                </p> 
                {% endif %}
            </div>         
        <!-- Start Form -->
        <form class="mt-8 space-y-6" method="POST">
          {% csrf_token %}
          <div class="flex items-center justify-between mb-2">
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
              </span>
              {% trans "Continue" %}
            </button>
          </div>
        </form>
        <!-- End Form -->  
      </div>
    </div>
  </div>
{% endblock %}
