{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="h-screen border flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-80 shadow-2xl  rounded bg-white space-y-8">
    <div class="mx-4 my-4">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
        <h2 class="my-6 text-center text-3xl font-extrabold text-gray-900">{% trans "Sign In with" %}</h2>
          {% get_providers as socialaccount_providers %}
          
          {% if socialaccount_providers %}
          <p class="hidden">{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
          <div class="socialaccount_ballot">
          
            <ul class="socialaccount_providers flex justify-between text-center my-2 ">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  
            </ul>
            <div class="w-full flex items-center justify-between py-5 login-or">
              <hr class="w-full bg-gray-400">
              <p class="text-base font-medium leading-4 px-2.5 text-gray-400">{% trans 'or' %}</p>
              <hr class="w-full bg-gray-400  ">
             </div>
          </div>
          
          {% include "socialaccount/snippets/login_extra.html" %}
          
          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}
      </div>
      <!-- Start Form -->
      <form class="mt-8 space-y-6" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="hidden" name="remember" value="true">
        <!-- Start Field -->
        <div class="rounded-md shadow-sm -space-y-px">
            <div>
                <label for="{{ form.login_id_for_label }}" class="sr-only">Username</label>
                {{ form.login }}
                {{ form.login.errors }}
            </div>
            <div>
                <label for="{{ form.password_id_for_label }}" class="sr-only">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
          </div>
          <!-- End Fields -->
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- Remember me-->
        <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
              <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Remember me </label>
            </div>
            <div class="text-sm">
              <a class="font-medium text-indigo-600 hover:text-indigo-500" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </div>
  
          <!-- End Remember Me -->
        <div class="flex items-center justify-between">
          <button type="submit" class="group relative w-32 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            {% trans "Sign In" %}
        </button>
        <a href="{% url 'account_signup' %}" class="group relative w-32 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
            </svg>
          </span>
          Sign Up
        </a>
        </div>
    </form>
      <!-- End Form -->  
    </div>
  </div>
</div>
{% endblock %}
