{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="h-screen border flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full shadow-2xl  rounded bg-white space-y-8">
          <div class="mx-4 my-4">
            <div>
              <h1 class="text-center text-lg font-bold mb-2">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
              </h1>
              <hr class="mb-4">
              {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="py-2 px-2 text-justify bg-yellow-100 rounded-md ">
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="text-lg font-bold text-indigo-400 hover:text-indigo-600" href="{{ passwd_reset_url }}"><em>new password reset</em></a>.{% endblocktrans %}
                </p>        
              {% else %}      
            <!-- Start Form -->
            <form class="mt-8 space-y-6" id="signup_form" method="post" action="{{ action_url }}">
              {% csrf_token %}
              <!-- Start Field -->
              <div class="rounded-md shadow-sm -space-y-px">
                  <div>
                      <label for="{{ form.password1_id_for_label }}" class="sr-only">New Password</label>
                      {{ form.password1 }}
                      {{ form.password1.errors }}
                  </div>
                  <div class="mt-2 pt-2">
                      <label for="{{ form.password2_id_for_label }}" class="sr-only">Confirm Password</label>
                      {{ form.password2 }}
                      {{ form.password2.errors }}
                  </div>
                </div>
                <!-- End Fields -->
              <div class="flex items-center justify-between mb-2">
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input type="submit" name="action" value="{% trans 'change password' %}" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <span class="absolute flex items-center pl-3">
                    <!-- Heroicon name: solid/lock-closed -->
                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
                    </svg>
                  </span>
                </input>
              </div>
            </form>
            {% endif %}
            <!-- End Form -->  
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
