{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password Complete" %}{% endblock %}

{% block content %}
    <div class="h-screen border flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-auto shadow-2xl rounded bg-white space-y-8">
          <div class="mx-4 my-4">
            <div class="flex flex-col justify-center items-center">
                {% include "account/success_tick.html" %}
              <h1 class="text-center text-lg font-bold my-3">
                {% trans "Change Password Complete!" %}
              </h1>
              <hr class="mb-2 w-full"/>
              <p class="py-2 px-2 text-justify bg-yellow-100 rounded-md">
                {% trans 'Your password is now changed.' %}
                <strong>
                  <a class="text-indigo-400 hover:text-indigo-600" href="{% url 'account_login' %}"><em>Go to Login page.</em></a>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>j
{% endblock %}
      